    <!-- dashboard page -->


            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="panel panel-default mb20 mini-box panel-hovered">
                        <div class="panel-body">
                            <div class="clearfix">
                                <div class="info left">
                                    <h4 class="mt0 text-primary text-bold">0</h4>
                                    <h5 class="text-light mb0">
                                        Paquetes en Almacén</h5>
                                </div>
                                <div class="right ion fa  fa-home icon"></div>
                            </div>
                        </div>
                        <div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
                            <p class="mt0 mb0 left">% change</p>
                            <span class="sparkline right" data-type="bar" data-barcolor="#fff" data-width="1.15em" data-height="1.15em"><canvas width="34" height="14" style="display: inline-block; width: 34px; height: 14px; vertical-align: top;"></canvas></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="panel panel-default mb20 mini-box panel-hovered">
                        <div class="panel-body">
                            <div class="clearfix">
                                <div class="info left">
                                    <h4 class="mt0 text-success text-bold">0</h4>
                                    <h5 class="text-light mb0">Paquetes Enviados</h5>
                                </div>
                                <div class="right ion fa  fa-send-o icon"></div>
                            </div>
                        </div>
                        <div class="panel-footer clearfix panel-footer-sm panel-footer-success">
                            <p class="mt0 mb0 left">% change</p>
                            <span class="right sparkline" data-type="bar" data-barcolor="#fff" data-width="1.15em" data-height="1.15em"><canvas width="29" height="14" style="display: inline-block; width: 29px; height: 14px; vertical-align: top;"></canvas></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="panel panel-default mb20 mini-box panel-hovered">
                        <div class="panel-body">
                            <div class="clearfix">
                                <div class="info left">
                                    <h4 class="mt0 text-info text-bold">{{this.totalPaquetes}}</h4>
                                    <h5 class="text-light mb0">Mis Paquetes</h5>
                                </div>
                                <div class="right ion  fa fa-clock-o icon"></div>
                            </div>
                        </div>
                        <div class="panel-footer clearfix panel-footer-sm panel-footer-info">
                            <p class="mt0 mb0 left">% change</p>
                            <span class="right sparkline" data-type="bar" data-barcolor="#fff" data-width="1.15em" data-height="1.15em"><canvas width="29" height="14" style="display: inline-block; width: 29px; height: 14px; vertical-align: top;"></canvas></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="panel panel-default mb20 mini-box panel-hovered">
                        <div class="panel-body">
                            <div class="clearfix">
                                <div class="info left">
                                    <h4 class="mt0 text-pink text-bold">0</h4>
                                    <h5 class="text-light mb0">Tickets</h5>
                                </div>
                                <div class="right ion fa  fa-wechat  icon"></div>
                            </div>
                        </div>
                        <div class="panel-footer clearfix panel-footer-sm panel-footer-pink">
                            <p class="mt0 mb0 left">% change</p>
                            <span class="sparkline right" data-type="bar" data-barcolor="#fff" data-width="1.15em" data-height="1.15em"><canvas width="29" height="14" style="display: inline-block; width: 29px; height: 14px; vertical-align: top;"></canvas></span>
                        </div>
                    </div>
                </div>
                <!-- #end mini boxes -->
            </div>
            