<body id="app" class="app off-canvas theme-zero nav-expand">
	
	<!-- header -->
	<header class="site-head fixedHeader" id="site-head">
		<ul class="list-unstyled left-elems">
			<!-- nav trigger/collapse -->
			<li>
				<a href="javascript:;" class="nav-trigger ion ion-drag"></a>
			</li>
			<!-- #end nav-trigger -->

			<!-- Search box -->


			<!-- site-logo for mobile nav -->


		</ul>

		

	</header>
	<!-- #end header -->

	<!-- main-container -->
	<div class="main-container clearfix nav-expand">
		<!-- main-navigation -->
		<aside class="nav-wrap nav-expand ps-container" id="site-nav" data-perfect-scrollbar="">
			<div class="nav-head">
				<!-- site logo -->
				<a href="index.html" class="site-logo text-uppercase">
					<img src="assets/images/house01.png" alt=""class="logo_img">
				</a>
			</div>

			<!-- Site nav (vertical) -->

			<nav class="site-nav clearfix" role="navigation">

				<!-- navigation -->
				<ul class="list-unstyled clearfix nav-list mb15">
					
					<li routerLinkActive="active">
                        <a [routerLink]="['/login']">
                            <i class="ion fa  fa-key"></i>
                            <span class="text">Login</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/register']">
                            <i class="ion fa fa-user"></i>
                            <span class="text">Registrar</span>
                        </a>
                    </li>

				</ul> <!-- #end navigation -->
			</nav>



		<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div></aside>
		<!-- #end main-navigation -->

		<!-- content-here -->
		<div class="content-container nav-expand fixedHeader" id="content">
			<!-- dashboard page -->
			<div class="page page-dashboard">

				<div class="page-wrap">

                    <h1>Pagina en mantenimiento</h1>

  
  <!-- Modal -->
  

				</div> <!-- #end page-wrap -->
			</div>
			<!-- #end dashboard page -->
		</div>

	</div> <!-- #end main-container -->

	<!-- #end theme settings -->


	

	<!-- Dev only -->
	<!-- Vendors -->
	<script src="scripts/vendors.js"></script>
	<script src="scripts/plugins/d3.min.js"></script>
	<script src="scripts/plugins/c3.min.js"></script>
	<script src="scripts/plugins/screenfull.js"></script>
	<script src="scripts/plugins/perfect-scrollbar.min.js"></script>
	<script src="scripts/plugins/waves.min.js"></script>
	<script src="scripts/plugins/jquery.sparkline.min.js"></script>
	<script src="scripts/plugins/jquery.easypiechart.min.js"></script>
	<script src="scripts/plugins/bootstrap-rating.min.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/index.init.js"></script>


</body>